<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [1]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [2]:
library("RSQLite")

Loading required package: DBI

In [3]:
# provide your solution here to connect db
con <- dbConnect(SQLite(), dbname="mydb.sqlite")

# read world_cities.csv and create a table
df <- read.csv("world_cities.csv")
dbWriteTable(con, "WORLD_CITIES", df)

df <- read.csv("bike_sharing_systems.csv")
dbWriteTable(con, "BIKE_SHARING_SYSTEMS", df)

df <- read.csv("cities_weather_forecast.csv")
dbWriteTable(con, "CITIES_WEATHER_FORECAST", df)

df <- read.csv("seoul_bike_sharing.csv")
dbWriteTable(con, "SEOUL_BIKE_SHARING", df)

Warning message in sqliteWriteTable(conn, name, value, ...):
“table WORLD_CITIES exists in database: aborting dbWriteTable”

[1] FALSE

Warning message in sqliteWriteTable(conn, name, value, ...):
“table BIKE_SHARING_SYSTEMS exists in database: aborting dbWriteTable”

[1] FALSE

Warning message in sqliteWriteTable(conn, name, value, ...):
“table CITIES_WEATHER_FORECAST exists in database: aborting dbWriteTable”

[1] FALSE

Warning message in sqliteWriteTable(conn, name, value, ...):
“table SEOUL_BIKE_SHARING exists in database: aborting dbWriteTable”

[1] FALSE

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [4]:
# provide your solution here
sql <- "SELECT COUNT(*) FROM SEOUL_BIKE_SHARING"
dbGetQuery(con, sql)

  COUNT(*)
1 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [5]:
# provide your solution here
sql <- "SELECT DISTINCT HOUR FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT > 0"
dbGetQuery(con, sql)

   HOUR
1   0
2   1
3   2
4   3
5   4
6   5
7   6
8   7
9   8
10  9
11 10
12 11
13 12
14 13
15 14
16 15
17 16
18 17
19 18
20 19
21 20
22 21
23 22
24 23

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [6]:
# provide your solution here
sql <- "SELECT * FROM CITIES_WEATHER_FORECAST WHERE CITY='Seoul'"
dbGetQuery(con, sql)

   row_names CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY
1  1         Seoul Clear   10000      12.32 10.91    12.32    1015     50
2  2         Seoul Clear   10000      11.48  9.81    11.48    1016     48
3  3         Seoul Clouds  10000       9.99  8.82     9.99    1015     46
4  4         Seoul Clouds  10000       7.87  7.87     7.87    1014     46
5  5         Seoul Clouds  10000      10.09 10.09    10.09    1014     37
6  6         Seoul Rain    10000       9.74  9.74     9.74    1014     48
7  7         Seoul Clouds  10000      11.39 11.39    11.39    1012     44
8  8         Seoul Rain    10000       9.75  9.75     9.75    1012     57
9  9         Seoul Rain    10000       9.11  9.11     9.11    1013     51
10 10        Seoul Clear   10000       8.33  8.33     8.33    1013     62
11 11        Seoul Clear   10000       7.57  7.57     7.57    1013     69
12 12        Seoul Clear   10000       7.13  7.13     7.13    1014     65
13 13        Seoul Clear   10000      10.49 10.49    10.49    1015     45
14 14        Seoul Clear   10000      15.05 15.05    15.05    1014     30
15 15        Seoul Clear   10000      17.37 17.37    17.37    1012     24
16 16        Seoul Clear   10000      16.14 16.14    16.14    1013     30
17 17        Seoul Clear   10000      13.27 13.27    13.27    1015     42
18 18        Seoul Clear   10000      11.56 11.56    11.56    1016     46
19 19        Seoul Clear   10000      10.01 10.01    10.01    1016     52
20 20        Seoul Clear   10000       8.74  8.74     8.74    1016     62
21 21        Seoul Clear   10000      12.37 12.37    12.37    1017     40
22 22        Seoul Clear   10000      17.40 17.40    17.40    1016     23
23 23        Seoul Clouds  10000      18.72 18.72    18.72    1014     20
24 24        Seoul Clouds  10000      16.95 16.95    16.95    1014     28
25 25        Seoul Clouds  10000      13.74 13.74    13.74    1016     48
26 26        Seoul Clear   10000      12.35 12.35    12.35    1018     59
27 27        Seoul Clear   10000      11.26 11.26    11.26    1018     63
28 28        Seoul Clear   10000      10.40 10.40    10.40    1019     64
29 29        Seoul Clear   10000      14.50 14.50    14.50    1020     44
30 30        Seoul Clouds  10000      19.78 19.78    19.78    1020     28
31 31        Seoul Clouds  10000      21.94 21.94    21.94    1019     26
32 32        Seoul Clear   10000      19.74 19.74    19.74    1019     33
33 33        Seoul Clear   10000      17.15 17.15    17.15    1021     41
34 34        Seoul Clear   10000      15.32 15.32    15.32    1022     48
35 35        Seoul Clear   10000      13.88 13.88    13.88    1023     54
36 36        Seoul Clear   10000      13.11 13.11    13.11    1023     55
37 37        Seoul Clouds  10000      17.53 17.53    17.53    1024     38
38 38        Seoul Clouds  10000      23.30 23.30    23.30    1023     24
39 39        Seoul Clouds  10000      26.13 26.13    26.13    1021     17
40 40        Seoul Clouds  10000      25.10 25.10    25.10    1020     17
   WIND_SPEED WIND_DEG SEASON FORECAST_DATETIME
1  2.18       248      Spring 2021-04-16 12:00:00
2  1.25       142      Spring 2021-04-16 15:00:00
3  0.94       130      Spring 2021-04-16 18:00:00
4  0.83        31      Spring 2021-04-16 21:00:00
5  1.96       309      Spring 2021-04-17 00:00:00
6  3.24       267      Spring 2021-04-17 03:00:00
7  5.65       275      Spring 2021-04-17 06:00:00
8  5.63       267      Spring 2021-04-17 09:00:00
9  4.91       280      Spring 2021-04-17 12:00:00
10 4.49       284      Spring 2021-04-17 15:00:00
11 4.72       290      Spring 2021-04-17 18:00:00
12 5.06       301      Spring 2021-04-17 21:00:00
13 6.89       318      Spring 2021-04-18 00:00:00
14 5.92       309      Spring 2021-04-18 03:00:00
15 5.84       295      Spring 2021-04-18 06:00:00
16 5.61       291      Spring 2021-04-18 09:00:00
17 3.78       286      Spring 2021-04-18 12:00:00
18 1.76       253      Spring 2021-04-18 15:00:00
19 1.90       210      Spring 2021-04-18 18:00:00
20 1.78       195      Spring 2021-04-18 21:00:00
21 2.20       215      Spring 2021-04-19 00:00:00
22 3.91       248      Spring 2021-04-19 03:00:00
23 4.71       255      Spring 2021-04-19 06:00:00
24 3.75       250      Spring 2021-04-19 09:00:00
25 2.15       235      Spring 2021-04-19 12:00:00
26 1.62       206      Spring 2021-04-19 15:00:00
27 1.43       196      Spring 2021-04-19 18:00:00
28 1.27       168      Spring 2021-04-19 21:00:00
29 1.52       187      Spring 2021-04-20 00:00:00
30 1.90       248      Spring 2021-04-20 03:00:00
31 3.72       254      Spring 2021-04-20 06:00:00
32 3.26       255      Spring 2021-04-20 09:00:00
33 1.29       224      Spring 2021-04-20 12:00:00
34 1.04       231      Spring 2021-04-20 15:00:00
35 0.53       262      Spring 2021-04-20 18:00:00
36 0.84        83      Spring 2021-04-20 21:00:00
37 0.55       134      Spring 2021-04-21 00:00:00
38 0.73       181      Spring 2021-04-21 03:00:00
39 0.70       218      Spring 2021-04-21 06:00:00
40 1.54       262      Spring 2021-04-21 09:00:00

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [7]:
# provide your solution here
sql <- "SELECT DISTINCT SEASONS FROM SEOUL_BIKE_SHARING"
dbGetQuery(con, sql)

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [8]:
# provide your solution here
sql <- "SELECT MIN(DATE(STRFTIME('%Y-%m-%d', SUBSTR(DATE, 7, 4) || '-' || SUBSTR(DATE, 4, 2) || '-' || SUBSTR(DATE, 1, 2)))) AS first_date, MAX(DATE(STRFTIME('%Y-%m-%d', SUBSTR(DATE, 7, 4) || '-' || SUBSTR(DATE, 4, 2) || '-' || SUBSTR(DATE, 1, 2)))) AS max_date FROM SEOUL_BIKE_SHARING"
dbGetQuery(con, sql)

  first_date max_date
1 2017-12-01 2018-11-30

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [10]:
# provide your solution here
sql <- "SELECT 
            DATE
           ,HOUR
           ,RENTED_BIKE_COUNT 
        FROM SEOUL_BIKE_SHARING 
            WHERE RENTED_BIKE_COUNT = 
                (SELECT
                    MAX(RENTED_BIKE_COUNT) 
                FROM SEOUL_BIKE_SHARING)"
dbGetQuery(con, sql)

  DATE       HOUR RENTED_BIKE_COUNT
1 19/06/2018 18   3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [16]:
# provide your solution here
sql <- "SELECT SEASONS, HOUR, AVG(RENTED_BIKE_COUNT) AS AVG_RENTED , AVG(TEMPERATURE) AS AVG_TEMP FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR ORDER BY AVG_RENTED DESC LIMIT 10"
dbGetQuery(con, sql)

   SEASONS HOUR AVG_RENTED AVG_TEMP
1  Summer  18   2135.141   29.38791
2  Autumn  18   1983.333   16.03185
3  Summer  19   1889.250   28.27378
4  Summer  20   1801.924   27.06630
5  Summer  21   1754.065   26.27826
6  Spring  18   1689.311   15.97222
7  Summer  22   1567.870   25.69891
8  Autumn  17   1562.877   17.27778
9  Summer  17   1526.293   30.07691
10 Autumn  19   1515.568   15.06346

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [19]:
# provide your solution here
sql <- "SELECT SEASONS, HOUR
            ,AVG(RENTED_BIKE_COUNT) AS AVG_RENTED 
            ,MIN(RENTED_BIKE_COUNT) AS MIN_RENTED
            ,MAX(RENTED_BIKE_COUNT) AS MAX_RENTED
        FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR
        ORDER BY AVG_RENTED DESC"
result <- dbGetQuery(con, sql)
result$STD_BIKE_COUNT <- sqrt(result$AVG_RENTED * result$AVG_RENTED - result$AVG_RENTED)
result

   SEASONS HOUR AVG_RENTED MIN_RENTED MAX_RENTED STD_BIKE_COUNT
1  Summer  18   2135.1413  17         3556       2134.6412
2  Autumn  18   1983.3333  40         3298       1982.8333
3  Summer  19   1889.2500  18         2984       1888.7499
4  Summer  20   1801.9239  10         2579       1801.4238
5  Summer  21   1754.0652  17         2505       1753.5651
6  Spring  18   1689.3111  22         3251       1688.8110
7  Summer  22   1567.8696  16         2309       1567.3695
8  Autumn  17   1562.8765  23         2432       1562.3765
9  Summer  17   1526.2935  25         2664       1525.7934
10 Autumn  19   1515.5679  19         2518       1515.0678
11 Summer   8   1418.5978  20         2495       1418.0977
12 Autumn   8   1345.0370   6         2391       1344.5369
13 Autumn  20   1321.7037  12         2259       1321.2036
14 Spring  17   1307.9778  24         2410       1307.4777
15 Autumn  16   1293.2099  14         2270       1292.7098
16 Autumn  21   1253.8148  21         2212       1253.3147
17 Spring  19   1247.7111  29         2656       1247.2110
18 Summer  16   1174.1739  41         2474       1173.6738
19 Autumn  15   1156.7037   8         2200       1156.2036
20 Summer  23   1153.9022  15         1732       1153.4021
21 Autumn  22   1130.2099  14         1868       1129.7098
22 Spring  16   1101.4556  31         2479       1100.9554
23 Spring  20   1060.5111  12         2252       1060.0110
24 Autumn  14   1058.8272  17         1995       1058.3270
25 Spring   8   1036.3778  16         2281       1035.8777
26 Spring  21   1021.1222   7         2140       1020.6221
27 Summer  15   1009.7174  51         2288       1009.2173
28 Autumn  13   1002.6667  18         1849       1002.1665
29 Spring  15    990.9778  14         2329        990.4777
30 Autumn  12    934.6420  17         1634        934.1418
⋮  ⋮       ⋮    ⋮          ⋮          ⋮          ⋮
67 Winter  19   304.03333  19         619        303.53292
68 Winter  15   298.64444   7         621        298.14403
69 Winter  14   284.28889  17         611        283.78845
70 Winter  13   275.25556   7         606        274.75510
71 Winter  12   263.63333   4         479        263.13286
72 Spring   6   257.23333   5         646        256.73285
73 Autumn   3   256.55000  28         514        256.04951
74 Winter   9   254.60000   3         509        254.09951
75 Spring   2   252.96667   9         590        252.46617
76 Summer   5   245.93478  28         383        245.43427
77 Winter  20   243.23333   8         483        242.73282
78 Winter  21   240.50000  10         512        239.99948
79 Winter  11   228.32222   9         388        227.82167
80 Winter  22   225.13333  13         461        224.63278
81 Summer   4   223.81522  27         421        223.31466
82 Winter   7   209.56667   3         498        209.06607
83 Winter  10   186.40000   4         339        185.89933
84 Winter  23   173.43333  23         366        172.93261
85 Autumn   4   169.02500  24         338        168.52426
86 Spring   3   168.47778   2         423        167.97703
87 Winter   0   165.17778  42         342        164.67702
88 Autumn   5   163.41250  24         264        162.91173
89 Winter   1   159.05556  43         337        158.55477
90 Winter   2   117.78889  38         312        117.28782
91 Spring   5   116.17778   6         265        115.67670
92 Spring   4   108.22222   2         252        107.72106
93 Winter   6    92.82222   9         200         92.32087
94 Winter   3    77.81111  21         230         77.30949
95 Winter   5    51.22222  13         100         50.71976
96 Winter   4    50.47778  20         120         49.97528

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [54]:
# provide your solution here
sql <- "SELECT SEASONS, HOUR
            ,AVG(RENTED_BIKE_COUNT) AS AVG_RENTED 
            ,AVG(TEMPERATURE) AS AVG_TEMP
            ,AVG(HUMIDITY) AS AVG_HUMI
            ,AVG(WIND_SPEED) AS AVG_WIND_SPEED
            ,AVG(VISIBILITY) AS AVG_VISIBILITY
            ,AVG(DEW_POINT_TEMPERATURE) AS AVG_DEW_POINT_TEMPERATURE
            ,AVG(SOLAR_RADIATION) AS AVG_SOLAR_RADIATION
            ,AVG(RAINFALL) AS AVG_RAINFALL
            ,AVG(SNOWFALL) AS AVG_SNOWFALL
        FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR
        ORDER BY AVG_RENTED DESC"
dbGetQuery(con, sql)

   SEASONS HOUR AVG_RENTED AVG_TEMP   AVG_HUMI AVG_WIND_SPEED AVG_VISIBILITY
1  Summer  18   2135.1413  29.38791   56.46739 2.232609       1669.641
2  Autumn  18   1983.3333  16.03185   51.93827 1.776543       1671.000
3  Summer  19   1889.2500  28.27378   60.53261 2.038043       1683.370
4  Summer  20   1801.9239  27.06630   64.50000 1.870652       1646.076
5  Summer  21   1754.0652  26.27826   67.42391 1.646739       1613.554
6  Spring  18   1689.3111  15.97222   49.98889 2.570000       1398.944
7  Summer  22   1567.8696  25.69891   69.30435 1.501087       1580.065
8  Autumn  17   1562.8765  17.27778   47.16049 2.095062       1670.420
9  Summer  17   1526.2935  30.07691   53.82609 2.440217       1637.239
10 Autumn  19   1515.5679  15.06346   55.46914 1.760494       1659.827
11 Summer   8   1418.5978  24.53587   69.67391 1.179348       1364.348
12 Autumn   8   1345.0370  10.55679   70.18519 1.204938       1379.432
13 Autumn  20   1321.7037  14.32469   57.46914 1.696296       1645.284
14 Spring  17   1307.9778  16.87889   47.34444 2.716667       1390.033
15 Autumn  16   1293.2099  18.08123   44.11111 2.091358       1642.864
16 Autumn  21   1253.8148  13.69012   59.19753 1.535802       1624.778
17 Spring  19   1247.7111  14.67667   54.56667 2.395556       1381.822
18 Summer  16   1174.1739  30.48804   51.77174 2.413043       1620.707
19 Autumn  15   1156.7037  18.34321   42.85185 2.193827       1656.235
20 Summer  23   1153.9022  25.23139   70.88043 1.355435       1502.467
21 Autumn  22   1130.2099  13.09012   61.09877 1.287654       1621.975
22 Spring  16   1101.4556  17.35889   45.34444 2.806667       1396.122
23 Spring  20   1060.5111  13.57533   58.03333 2.242222       1322.967
24 Autumn  14   1058.8272  18.15185   42.83951 2.111111       1637.568
25 Spring   8   1036.3778  10.30867   66.32222 1.306667       1139.100
26 Spring  21   1021.1222  12.83778   60.88889 1.890000       1268.100
27 Summer  15   1009.7174  30.49022   51.41304 2.264130       1582.543
28 Autumn  13   1002.6667  17.55802   45.62963 2.144444       1607.420
29 Spring  15    990.9778  17.51111   44.44444 2.744444       1383.400
30 Autumn  12    934.6420  16.73951   48.11111 1.808642       1581.815
⋮  ⋮       ⋮    ⋮          ⋮          ⋮        ⋮              ⋮
67 Winter  19   304.03333  -1.5166667 48.00000 2.0788889      1499.711
68 Winter  15   298.64444   1.1666667 35.65556 2.7222222      1541.322
69 Winter  14   284.28889   0.8711111 36.01111 2.5455556      1509.700
70 Winter  13   275.25556   0.2166667 37.05556 2.5155556      1489.122
71 Winter  12   263.63333  -0.5666667 39.50000 2.1933333      1440.500
72 Spring   6   257.23333   9.2655556 70.65556 1.0722222      1078.056
73 Autumn   3   256.55000  11.0987500 69.71250 0.9200000      1511.412
74 Winter   9   254.60000  -4.8022222 53.44444 1.6500000      1363.044
75 Spring   2   252.96667  10.2686667 68.48889 1.2922222      1105.689
76 Summer   5   245.93478  23.2630435 77.83696 0.9304348      1352.413
77 Winter  20   243.23333  -2.0222222 50.31111 1.9200000      1497.578
78 Winter  21   240.50000  -2.4366667 52.44444 1.9111111      1486.122
79 Winter  11   228.32222  -1.8433333 42.84444 2.0811111      1398.956
80 Winter  22   225.13333  -2.8233333 54.16667 1.8177778      1449.289
81 Summer   4   223.81522  23.5313882 76.59783 1.0706522      1347.163
82 Winter   7   209.56667  -5.2488889 58.98889 1.4911111      1382.500
83 Winter  10   186.40000  -3.3144444 47.62222 1.8877778      1374.444
84 Winter  23   173.43333  -3.1733333 55.25556 1.7000000      1417.067
85 Autumn   4   169.02500  10.8037500 70.80000 0.9862500      1484.412
86 Spring   3   168.47778   9.9622222 69.15556 1.1922222      1069.011
87 Winter   0   165.17778  -3.6100000 55.91111 1.6544444      1401.689
88 Autumn   5   163.41250  10.5075000 72.23750 0.8962500      1486.388
89 Winter   1   159.05556  -3.8911111 56.65556 1.5077778      1421.678
90 Winter   2   117.78889  -4.1744444 57.33333 1.4444444      1431.011
91 Spring   5   116.17778   9.4533333 69.57778 1.1888889      1099.578
92 Spring   4   108.22222   9.6944444 69.51111 1.2088889      1105.956
93 Winter   6    92.82222  -5.0311111 58.27778 1.5244444      1394.511
94 Winter   3    77.81111  -4.3633333 57.05556 1.4955556      1431.100
95 Winter   5    51.22222  -4.8033333 57.58889 1.5033333      1412.933
96 Winter   4    50.47778  -4.5644444 57.11111 1.5877778      1418.722
   AVG_DEW_POINT_TEMPERATURE AVG_SOLAR_RADIATION AVG_RAINFALL AVG_SNOWFALL
1  19.040217                 0.764239130         0.53369565   0.00000000
2   5.579012                 0.159012346         0.28395062   0.04814815
3  19.280435                 0.338043478         0.32608696   0.00000000
4  19.305435                 0.045652174         0.78804348   0.00000000
5  19.348913                 0.000000000         0.46413043   0.00000000
6   4.284444                 0.572000000         0.09888889   0.00000000
7  19.259783                 0.000000000         0.15543478   0.00000000
8   5.027160                 0.544567901         0.25925926   0.04814815
9  18.835870                 1.229565217         0.15760870   0.00000000
10  5.725926                 0.014197531         0.03086420   0.04567901
11 18.271739                 0.691086957         0.22173913   0.00000000
12  5.065432                 0.245308642         0.17654321   0.08395062
13  5.603704                 0.000000000         0.01851852   0.04567901
14  4.183333                 1.069555556         0.09000000   0.00000000
15  4.629630                 1.013950617         0.11728395   0.05432099
16  5.432099                 0.000000000         0.24691358   0.04444444
17  4.452222                 0.163444444         0.08888889   0.00000000
18 18.611957                 1.649565217         0.06086957   0.00000000
19  4.386420                 1.452098765         0.18518519   0.06419753
20 19.191304                 0.000000000         0.19021739   0.00000000
21  5.382716                 0.000000000         0.02469136   0.04444444
22  3.923333                 1.485666667         0.04888889   0.00000000
23  4.614444                 0.008222222         0.20555556   0.00000000
24  4.183951                 1.761481481         0.11111111   0.07777778
25  3.730000                 0.451777778         0.27222222   0.00000000
26  4.678889                 0.000000000         0.16111111   0.00000000
27 18.422826                 1.969130435         0.19891304   0.00000000
28  4.644444                 1.862839506         0.07407407   0.09629630
29  3.778889                 1.841000000         0.07555556   0.00000000
30  4.806173                 1.826296296         0.20740741   0.11358025
⋮  ⋮                         ⋮                   ⋮            ⋮
67 -11.834444                0.0003333333        0.00000000   0.1911111
68 -13.292222                0.9603333333        0.08888889   0.1555556
69 -13.505556                1.1486666667        0.00000000   0.1944444
70 -13.623333                1.1954444444        0.00000000   0.2433333
71 -13.474444                1.1133333333        0.12000000   0.2911111
72   4.241111                0.0074444444        0.31333333   0.0000000
73   5.477500                0.0000000000        0.07750000   0.0387500
74 -13.323333                0.2166666667        0.13888889   0.3533333
75   4.172222                0.0000000000        0.12555556   0.0000000
76  18.940217                0.0000000000        0.09565217   0.0000000
77 -11.623333                0.0000000000        0.00000000   0.2022222
78 -11.361111                0.0000000000        0.13777778   0.2033333
79 -13.586667                0.8882222222        0.00000000   0.3300000
80 -11.222222                0.0000000000        0.00000000   0.2022222
81  18.894565                0.0000000000        0.21739130   0.0000000
82 -12.423333                0.0000000000        0.00000000   0.3311111
83 -13.513333                0.5985555556        0.00000000   0.3533333
84 -11.271111                0.0000000000        0.00000000   0.2033333
85   5.378750                0.0000000000        0.03625000   0.0362500
86   4.341111                0.0000000000        0.26333333   0.0000000
87 -11.535556                0.0000000000        0.01333333   0.2133333
88   5.417500                0.0000000000        0.08750000   0.0350000
89 -11.616667                0.0000000000        0.00000000   0.2633333
90 -11.744444                0.0000000000        0.00000000   0.2744444
91   4.306667                0.0000000000        0.10000000   0.0000000
92   4.334444                0.0000000000        0.34888889   0.0000000
93 -12.396667                0.0000000000        0.05000000   0.3144444
94 -12.014444                0.0000000000        0.06777778   0.2766667
95 -12.304444                0.0000000000        0.00000000   0.2866667
96 -12.211111                0.0000000000        0.00000000   0.2777778

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [64]:
# provide your solution here
sql <- "SELECT 
            b.CITY, b.COUNTRY, LAT, LNG, POPULATION, BICYCLES
        FROM WORLD_CITIES c
        INNER JOIN BIKE_SHARING_SYSTEMS b
        ON c.CITY = b.CITY
        WHERE c.CITY='Seoul'"
dbGetQuery(con, sql)

  CITY  COUNTRY     LAT     LNG POPULATION BICYCLES
1 Seoul South Korea 37.5833 127 21794000   20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [69]:
# provide your solution here
sql <- "SELECT 
             b.CITY
            ,b.COUNTRY
            ,LAT
            ,LNG
            ,POPULATION
            ,BICYCLES
        FROM BIKE_SHARING_SYSTEMS b
        INNER JOIN WORLD_CITIES c
        ON b.CITY = c.CITY
        WHERE BICYCLES >= 15000 AND BICYCLES <= 20000
        "
dbGetQuery(con, sql)

  CITY     COUNTRY     LAT     LNG      POPULATION BICYCLES
1 Beijing  China       39.9050 116.3914 19433000   16000
2 Ningbo   China       29.8750 121.5492  7639000   15000
3 Shanghai China       31.1667 121.4667 22120000   19165
4 Weifang  China       36.7167 119.1000  9373000   20000
5 Zhuzhou  China       27.8407 113.1469  3855609   20000
6 Seoul    South Korea 37.5833 127.0000 21794000   20000

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>